* {position:relative; box-sizing:border-box; }
html, body {width:100%; height:100%; margin:0; padding:0; }
body {background-color:#9CD7DB; overflow:hidden; }
img {max-width:100%; height:auto; }
main {width:100%; height:100%; background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); display:flex; align-items:center; justify-content:center; }
main .bg {position:absolute; }
main .bg.bg-tl {top:0; left:0; }
main .bg.bg-br {bottom:0; right:0; }
main .conteudo {padding:20px; transform-style:preserve-3d; transform:perspective(500px); }
main .conteudo .logo {transform:translateZ(30px); padding:0; margin:0; }
main .conteudo .logo picture {display:block; }
main .conteudo .barra {width:100%; height:6px; background-color:#FFF; margin:24px 0 32px; padding:0; transform:translateZ(20px); }
main .conteudo nav.social {max-width:300px; margin:auto; display:flex; justify-content:space-between; transform:translateZ(40px); }
main .conteudo nav.social a {color:#FFF; font-size:45px; }
main .conteudo nav.social a:hover {color:#835e92; }
@media( max-width:700px ) {
	main {display:block; background:none; text-align:center; padding:20px; }
	main .bg {display:none; }
	body {overflow:auto; }
}